<footer>
    <a href="albums.html"><img src="assets/images/iconWhite.svg" alt="Albums" class="heartrate" id="icon-change"></a>
    <a href="playlists.html"><i class="fas fa-microphone-alt footericon microphone"></i></a>
    <a href="index.html">
        <div class="circle">
            <img src="assets/images/circlesBlack.svg" alt="Featured" class="circles" id="circleWhite">
        </div>
    </a>
    <i class="fas fa-adjust footericon adjust"></i>
    <a href="categories.html"><i class="fas fa-cog footericon categoriesIcon"></i></a>            
</footer>
</div>