        <footer>
            <a href="albums.html"><img src="assets/images/icon.svg" alt="heartrate" class="heartrate"></a>
            <a href="playlists.html"><i class="fas fa-microphone-alt footericon microphone"></i></a>
            <a href="index.html">
                <div class="circle">
                    <img src="assets/images/circles.svg" alt="circles" class="circles">
                </div>
            </a>
            <i class="fas fa-adjust footericon adjust"></i><!--CHANGE COLOR SCEME-->
            <a href="categories.html"><i class="fas fa-cog footericon categoriesIcon"></i></a>            
        </footer>
    </div>