    <div id="wrapper">
        <nav>
            <a href=""><i class="fas fa-chevron-left navicon"></i></a>
            <h3>Featured</h3>
            <a href=""><i class="fas fa-search navicon"></i></a>
        </nav>