<%- include('../partials/head') %>
</head>
<body>
    <div id="wrapper">
        <nav>
            <a href=""><i class="fas fa-chevron-left navicon"></i></a>
            <h3>Music</h3>
            <a href=""><i class="fas fa-search navicon"></i></a>
        </nav>
        <main>
            <h1>All Albums</h1> 
            <section class="albums">

            </section> 
        </main>
        <%- include('../partials/footer2') %>
<%- include('../partials/last') %>