<%- include('../partials/head') %>
    <link rel="stylesheet" href="assets/css/albums/albums.css">
</head>
<body>
    <div id="wrapper">
        <nav>
            <a href="Categories.html"><i class="fas fa-chevron-left navicon"></i></a>
            <h3>Music</h3>
            <a href=""><i class="fas fa-search navicon"></i></a>
        </nav>
        <main>
            <h1>All Albums</h1> 
            <section class="albums">
                <div class="album-text">
                    <h4>Featured albums</h4>
                    <h4 class="veiw-all"><a href="">Veiw All</a></h4>
                </div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">

                    </div>
                </div>
            <div class="album-text">
                <h4>New Releases</h4>
                <h4 class="veiw-all"><a href="">Veiw All</a></h4>
            </div>
            <section class="songs">
                
            </section> 
        </main>
        <%- include('../partials/footer2') %>
        <script type="module" src="assets/js/fetch-albums.js"></script>
        <script src="assets/js/color-change.js"></script> 
<%- include('../partials/last') %>