<%- include('../partials/head') %>
    <link rel="stylesheet" href="assets/css/album-details/album-details.css">
</head>
<body>
    <div id="wrapper">
        <div class="bgimg">
            <nav>
                <a href="albums.html"><i class="fas fa-chevron-left navicon"></i></a>
                <h3>Album</h3>
            </nav>
            <main>
                <h5>Old Town Road</h5>
                <h4 class="song-amount white">14 Songs</h4>
                <h4 class="light white">genres hashtags</h4>
                <button>#tester</button>
                <button>#tester</button>
            </div>
                <h4 class="all-songs">All Songs</h4>
                <section class="songs">
                    <div class="song">
                        <a href="player.html">
                            <div class="circle">
                                <img src="assets/images/play.png" alt="play">
                            </div>
                            <h4>testing layout</h4>
                            <p>testing layout</p>
                            <p class="time">12:34</p>
                        </a>
                    </div>
                </section>
            </main>
        <%- include('../partials/footer2') %>
</div>
<script type="module" src="assets/js/fetch-album-details.js"></script>
<%- include('../partials/last') %>