<%- include('../partials/head') %>
</head>
<body>
    <div id="wrapper">
        <nav>
            <a href="albums.html"><i class="fas fa-chevron-left navicon"></i></a>
            <h3>Music</h3>
            <a href=""><i class="fas fa-search navicon"></i></a>
        </nav>
        <main>

        </main>
        <%- include('../partials/footer2') %>
</div>
<%- include('../partials/last') %>