<%- include('../partials/head') %>
    <link rel="stylesheet" href="assets/css/categories/categories.css">
</head>
<body>
    <div id="wrapper">
        <nav>
            <a href="index.html"><i class="fas fa-chevron-left navicon"></i></a>
            <h3>Categories</h3>
            <a href=""><i class="fas fa-search navicon"></i></a>
        </nav>
        <main>
            <h1>Categories</h1>
            <section class="categories">

            </section>
        </main>
        <%- include('../partials/footer') %>
</div>
<template class="category">
    <h4 class="show-ul"></h4>
    <ul class="category-ul hide">
        <li class="li li1"><a href="">First <i class="fas fa-chevron-right"></i></a></li>
        <li class="li li2"><a href="">Second <i class="fas fa-chevron-right"></i></a></li>
        <li class="li li3"><a href="">Third <i class="fas fa-chevron-right"></i></a></li>
    </ul>
</template>
    <script type="module" src="assets/js/fetch-categories.js"></script>
    <script src="assets/js/categories.js"></script>
    <script src="assets/js/color-change.js"></script> 
<%- include('../partials/last') %>