<%- include('../partials/head') %>
    <link rel="stylesheet" href="assets/css/categories/categories.css">
</head>
<body>
    <div id="wrapper">
        <nav>
            <a href="index.html"><i class="fas fa-chevron-left navicon"></i></a>
            <h3>Categories</h3>
            <a href=""><i class="fas fa-search navicon"></i></a>
        </nav>
        <main>
            <h1>Categories</h1>
            <section class="categories">
                    <div class="category">
                        <h4>Category grid tester <i class="fas fa-ellipsis-h"></i></h4> <!--    padding-top: 5px;   -->
                        <ul class="category-ul">
                            <a href="albums.html"><li>first<i class="fas fa-chevron-right"></i></li></a>
                            <a href="albums.html"><li>second<i class="fas fa-chevron-right"></i></li></a>
                            <a href="albums.html"><li>third<i class="fas fa-chevron-right"></i></li></a>
                        </ul>
                    </div>
            </section>
            <!--
                input categories from api
                    1 var(--dark-pink)
                    2 var(--orange)
                    3 var(--dark-yellow)
                    4 var(--yellow)
                    5 var(--light-green)
                    6 var(--dark-green)
                    7 var(--blue-green)
                    8 var(--light-blue)
                    9 var(--dark-blue)
            -->
        </main>
        <%- include('../partials/footer') %>
</div>
<%- include('../partials/last') %>