<%- include('../partials/head') %>
    <link rel="stylesheet" href="assets/css/index/index.css">
</head>
<body>
    <div id="wrapper">
        <nav>
            <a href="index.html"><i class="fas fa-chevron-left navicon"></i></a>
            <h3>Featured</h3>
            <a href=""><i class="fas fa-search navicon"></i></a>
        </nav>
        <main>
            <h1>Featured</h1> 
            <section class="featured">
                
            </section> 
        </main>
        <%- include('../partials/footer-index') %>
        <script type="module" src="assets/js/fetch-index.js"></script>
<%- include('../partials/last') %>