<%- include('../partials/head') %>
    <link rel="stylesheet" href="assets/css/index/index.css">
</head>
<body>
    <div id="wrapper">
        <nav>
            <a href="index.html"><i class="fas fa-chevron-left navicon"></i></a>
            <h3>Featured</h3>
            <a href=""><i class="fas fa-search navicon"></i></a>
        </nav>
        <main>
            <h1>Featured</h1> 
            <section class="featured">
                <div class="featured_album">
                    <div class="featured_text">
                        <h2>The Greatest Showman</h2>
                        <p>Soundtrack</p>
                    </div>
                    <img src="assets/images/placeholder.jpg" alt="placeholder">
                </div>
                <div class="featured_album">
                    <div class="featured_text">
                        <h2>Another Album</h2>
                        <p>Soundtrack</p>
                    </div>
                    <img src="assets/images/placeholder.jpg" alt="placeholder">
                </div>
            </section> 
        </main>
        <%- include('../partials/footer-index') %>
<%- include('../partials/last') %>