<%- include('../partials/head') %>
    <link rel="stylesheet" href="assets/css/player/player.css">
</head>
<body>
    <div id="wrapper">
        <nav>
            <a href="playlists.html"><i class="fas fa-chevron-left navicon"></i></a>
            <h3 class="playing">Playing</h3>
        </nav>
        <main>
            
        </main>
        <footer class="player-footer">
            <img src="assets/images/skip.png" alt="previous song" class="previous-song littlebtns">
            <img src="assets/images/fast.png" alt="rewind" class="rewind littlebtns">
            <img src="assets/images/play.svg" alt="play" class="play">
            <img src="assets/images/fast.png" alt="fast forward" class="fast-forward littlebtns">
            <img src="assets/images/skip.png" alt="next song" class="next-song littlebtns">
        </footer>
    </div>
    <script type="module" src="assets/js/fetch-player.js"></script>
<%- include('../partials/last') %>