<%- include('../partials/head') %>
</head>
<body>
    <div id="wrapper">
        <nav>
            <a href="playlists.html"><i class="fas fa-chevron-left navicon"></i></a>
            <h3>Player</h3>
            <a href=""><i class="fas fa-search navicon"></i></a>
        </nav>
        <main>
            
        </main>
        <%- include('../partials/footer') %>
</div>
<%- include('../partials/last') %>