<%- include('../partials/head') %>
    <link rel="stylesheet" href="assets/css/playlists/playlists.css">
    <link rel="stylesheet" href="assets/css/swiper.min.css">
</head>
<body>
    <div id="wrapper">
        <div class="playlist-top">
        <nav>
            <a href="index.html"><i class="fas fa-chevron-left navicon white"></i></a>
            <h3 class="white">Playlists</h3>
            <a href=""><i class="fas fa-search navicon white"></i></a>
        </nav>
            <h5>Playlists</h5>
            <main> 
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <a href="" class="swiper-slide"><img src="assets/images/placeholder.jpg" alt="placeholder" class="gallery-img img1"></a href="">
                        <a href="" class="swiper-slide"><img src="assets/images/placeholder.jpg" alt="placeholder" class="gallery-img img2"></a>
                        <a href="" class="swiper-slide"><img src="assets/images/placeholder.jpg" alt="placeholder" class="gallery-img img3"></a>
                    </div>
                </div>
            </div>
            <h6 class="top-50">Top 50 <br> Rock Ballads</h6>
            <section class="songs">
                <div class="song">
                    <a href="player.html">
                        <div class="circle">
                            <img src="assets/images/play.png" alt="play">
                        </div>
                        <h4>testing layout</h4>
                        <p>testing layout</p>
                        <p class="time">12:34</p>
                    </a>
                </div>
            </section>
            <div class="button">
                <a href="player.html"><button id="listen-all">LISTEN ALL</button></a>
            </div>
            
        </main>
        <%- include('../partials/footer') %>

    <script src="path/to/swiper.min.js"></script>
<%- include('../partials/last') %>