.swiper-wrapper{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    .gallery-img{
        border-radius:23px;
        width:130px;
        height:130px;
        padding:2px 10px;
    }
    .img1{
        margin-left:20px;
    }
}
