#wrapper{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 32px;
    background: var(--pink-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:1000;
    padding: 19px;
}
h2{
    font-size: 32px;
    color:#FFF;
    font-weight:1000;
}
h3, .navicon{
    font-size:15px;
    color:var(--not-background);
    text-transform: uppercase;
}
h4{
    font-size:15px;
    color:var(--not-background);
    font-weight:bold;
}
h5{
    font-size: 36px;
    color:#fff;
    padding: 19px;
}
h6{
    font-size:20px;
    color:var(--not-background);
    font-weight:bold;
}
.hide{
    color:var(--not-background);
}
p{
    font-size:12px;
    color:var(--not-background);
}
#listen-all{
    font-size:15px;
    color:var(--light-pink);
    border:solid 2px var(--light-pink);
    border-radius:25px;
    background-color:var(--background-color);
    padding: 10px 62px;
    // button-playlist
}
.footericon{
    background: var(--pink-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:23px;
}
