footer{
    margin:20px 0 0 0;
    display:flex;
    justify-content:space-around;
    position: fixed;
    background-color: var(--footer);
    bottom: 0%;
    width: 100%;
    max-width: 375px;
    z-index: 10;
    padding: 7px 0;
    box-shadow: 0px -1px 31px var(--footer-shadow);
    .fas{
        margin:15px 0;
    }
    .heartrate{
        margin:15px 0;
    }
    .adjust{
        cursor: pointer;
    }
    .circle{
        background:var(--pink-gradient-circle);
        width:55px;
        height:55px;
        border-radius:50%;
        display:grid;
        img{
            place-self:center;
            width: 30px;
        }
    }
}
