*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    background-color: var(--not-background);
}
#wrapper{
    max-width:375px;
    margin:0 auto;
    background-color:var(--background-color);
    overflow: hidden;
}

main{
    padding-bottom: 80px;
}