:root{
    --background-color:#000;
    --not-background:#fff;
    --black-gradient:linear-gradient(#000000, #111111);
    --green-gradient:linear-gradient(#5EB11C, #3A7634);
    --blue-gradient:linear-gradient(#00A1CB, #115793);
    --pink-gradient:-webkit-linear-gradient(#EE0979, #FF6A00);
    --pink-gradient-circle:linear-gradient(#EE0979, #FF6A00);
    --dark-pink:#D70060;
    --orange:#E54028;
    --dark-yellow:#F18D05;
    --yellow:#F2BC06;
    --light-green:#5EB11C;
    --dark-green:#3A7634;
    --blue-green:#0ABEBE;
    --light-blue:#00A1CB;
    --dark-blue:#115793;
    --light-pink:#FF1168;
    --almost-black-purple:#341931;
    --almost-black:#111625;
}